.JobFeedContainer {
  display: flex;
  gap: 12px;
  max-height: 80vh;
}

.JobColumn {
  flex: 1;
  background-color: rgb(18, 18, 53);
  overflow: scroll;
  scrollbar-width: none;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(160, 160, 208, 0.2);
  box-shadow: 1px 1px 2px 1px rgba(160, 160, 208, 0.2);
}

.JobList {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.JobCard {
  list-style-type: none;
  margin: 0;
  padding: 12px;
  outline: 1px solid grey;
  border-radius: 8px;
}

.JobCard:hover,
.JobCardSelected {
  cursor: pointer;
  background-color: rgb(21, 21, 74);
  outline: 1px solid white;
}

.JobTitle {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 6px;
}

.JobLink {
  font-weight: bold;
}

.PaginationBar {
  display: flex;
  margin-bottom: 12px;
  gap: 6px;
  justify-content: space-between;
}

.Pagination {
  display: flex;
  gap: 6px;
}

.SearchBar {
  width: 100%;
  background-color: white;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  gap: 6px;
  align-items: center;
}

.Icon {
  color: black;
}

.SearchInput {
  border: none;
  flex: 1;
}

.SearchButton {
  border-radius: 8px;
  background-color: rgb(58, 58, 128);
  color: white;
  border: 1px white solid;
  padding: 8px 12px;
}

.SearchButton:hover {
  border: 1px black solid;
}

button:hover {
  cursor: pointer;
}

.SearchRow {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 12px;
}

.FilterInput {
  max-width: 180px;
  padding: 12px;
  border-radius: 8px;
}

.CloseButton {
  text-align: right;
}
