.JobFeedContainer {
  display: flex;
  gap: 12px;
  max-height: 80vh;
}

.JobList {
  flex: 1;
  outline: 1px solid white;
  overflow: scroll;
}

.JobPreview {
  flex: 1;
  outline: 1px solid white;
}
